@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue-1: #fffeff;
  --hue-2: #272927;
  
  --foreground-rgb: var(--hue-2);
  --background-start-rgb: var(--hue-1);
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--hue-1);
    --background-start-rgb: black;
    --background-end-rgb: var(--hue-2);
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

.p5Canvas {
  width: 100% !important;
  height: 100% !important;
}
